
.shark
{
   
    position: absolute;
    animation-name:shark ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes shark {
    0%{left: 0px; top:0px}
    20%{left:200px;top: 300px;}
    50%{left: 300px;top: 250px;}
    80%{left: 700px;top: 150px;}
    100%{left: 0px;top: 0px; transform: scaleX(-1);}
   
}
.turtle{
    
   
   position: absolute;
   animation-name:turtle ;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-play-state: running;
}
@keyframes turtle{
    0%{left: 200px; top:400px}
    20%{left:800px;top: 300px;}
    50%{left: 900px;top: 250px;}
    80%{left: 650px;top: 200px;}
    100%{left: 200px;top: 400px; transform: scaleX(-1);}}
.b_fish{
    position: absolute;
   animation-name:b_fish ;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-play-state: running;
   

}
@keyframes b_fish{
    0%{left: 300px; top:0px}
    20%{left:200px;top: 300px;}
    50%{left: 600px;top: 250px;}
    80%{left: 400px;top: 150px;}
    100%{left: 300px;top: 0px; transform: scaleX(-1);}

}
.driver2{
    position: absolute;
   animation-name:driver2 ;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-play-state: running;

}
@keyframes driver2{
    0%{left: -20px; top:200px}
    20%{left:300px;top: 300px;}
    50%{left: 300px;top: 250px;}
    80%{left: 900px;top: 150px;}
    100%{left: -20px;top: 200px; transform: scaleX(-1);}
    
}
.driver1{
    position: absolute;
   animation-name:driver1;
   animation-duration: 8s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-play-state: running;

}
@keyframes driver1{
    0%{left: 900px; top:0px}
    20%{left:600px;top: 300px;}
    50%{left: 450px;top: 250px;}
    80%{left: 500px;top: 150px;}
    100%{left: 900px;top: 0px; transform: scaleX(-1);}
    
}
.coral1{
    position: absolute;
    left: -17px;
    bottom: 70px;
}
.coral2{
    position: absolute;
    right:  55px;
    bottom: 70px;}
.rock1{
    position: absolute;
    bottom: 90px;
    right: 310px;
    

}
.rock2{
    position: absolute;
    bottom: 90px;
    left: 700px;
}
.rock3{
    position: absolute;
    bottom: 90px;
    left: 600px;
}
.rock4{
    position: absolute;
    bottom: 90px;
    left: 500px;
}
.rock5{
    position: absolute;
    bottom: 90px;
    left: 400px;
}
.rock6{
    position: absolute;
    bottom: 90px;
    left: 300px;
}
.rock7{
    position: absolute;
    bottom: 90px;
    left: 200px;
}
